.hero_displayer {
    background-image: url(http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_recentposts_bg.jpg);
    background-repeat: repeat;
    width: 700px;
    height: 90vh;
    overflow-y: scroll;
}